body{
    margin: 0;
  }
  
  img{
    max-width: 100%;
    border-radius: 8px;
  } 
  .items {
    display: flex;
    flex-direction: row;
  }
  .product, .product__dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 15px;
    background-color: #FFDAB9;
    box-shadow: 2px 2px 5px -2px hsla(40, 50%, 35%, 1);
    border-radius: 18px;
    padding: 50px;
    width:300px;
    margin: 15px;
  }
  .product__dark {
    background-color: hsl(240, 45%, 30%);
  }
  .product__title {
    color:white;
    font-size: 32px;
    text-shadow: 1px 1px 40px #0005;
  }
  
  .product__descrip, .product__price {
    color:white;
  }
  .product__descrip {
    font-family: "Gill Sans", sans-serif;
    text-shadow: 1px 1px 20px #0005;
  }
  .product__price {
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius:50%;
    background-color:#D2691E; 
    font-size: 20px;
    margin: auto;
    box-shadow: 2px 2px 5px -2px hsla(40, 50%, 35%, 1);
    
  }
  .product__btn {
    background-color: silver;
    border:none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
  }
  .product__btn:hover {
    background-color:#D2691E;
    color:white;
  }
  
  